/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff; /* Dark blue color */
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sidebar-nav li a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    transition: background 0.3s;
  }
  
  .sidebar-nav li a:hover {
    background-color: #1b3a57; /* Slightly lighter blue for hover effect */
  }
  